<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Cadastro de Categoria</h2>
                </div>
                <div class="card-body">
                    <form id="category-form">
                        <input class="form-control" type="text" name="nome" id="category-name-input"
                            placeholder="Defina o nome da categoria"><br>
                        <button class="btn btn-success" id="submit-button" disabled>Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="error-popup-container"></div>

        <%- include('../../partials/footer.ejs') %>

            <script type="module">

                import { showErrorPopup } from '/js/show-error-popup.js'

                document.addEventListener('DOMContentLoaded', function () {
                    const input = document.getElementById('category-name-input');
                    const button = document.getElementById('submit-button');
                    const form = document.getElementById('category-form');

                    input.addEventListener('input', function () {
                        if (this.value.trim().length > 0) {
                            button.removeAttribute('disabled');
                        } else {
                            button.setAttribute('disabled', 'disabled');
                        }
                    });

                    form.addEventListener('submit', async function (event) {
                        event.preventDefault();

                        const categoryName = input.value;

                        try {
                            const response = await fetch('/admin/categories/save', {
                                method: 'POST',
                                headers: { 'Content-Type': 'application/json' },
                                body: JSON.stringify({ nome: categoryName }),
                            });

                            if (response.ok) {
                                window.location.href = '/admin/categories';
                            } else {
                                const errorData = await response.json();
                                showErrorPopup(errorData.error.message, errorData.error.details);
                            }
                        } catch (error) {
                            console.error('Erro de rede:', error);
                            showErrorPopup('Ocorreu um erro de rede. Tente novamente mais tarde.');
                        }
                    });
                });

            </script>