<div class="modal fade" id="entradaProdutoModal" tabindex="-1" aria-labelledby="entradaProdutoModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="entradaProdutoModalLabel"> Nova Entrada de Produto </h5>
      </div>

      <div class="modal-body">
        <form id="formEntradaProduto" class="row g-3" method="POST" action="/admin/lotes/save">

          <!-- Produto Selecionado (readonly) -->
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="modalProdutoNome" data-field="produtoNome"
              placeholder="Produto Selecionado" readonly disabled>
            <label for="modalProdutoNome">Produto Selecionado</label>
            <input type="hidden" data-field="produtoId" id="modalProdutoId" name="id_produto">
          </div>

          <!-- Valor do Produto -->
          <div class="form-floating mb-3">
            <input type="number" step="0.01" class="form-control" id="produtoPrecoCompra" name="preco_produto_compra"
              data-field="produtoValorCompra" placeholder="Valor de Compra" required>
            <label for="produtoPreco">Valor de Compra</label>
          </div>

          <!-- Valor do Produto -->
          <div class="form-floating mb-3">
            <input type="number" step="0.01" class="form-control" id="produtoPrecoVenda" name="preco_produto_venda"
              data-field="produtoValorVenda" placeholder="Valor de Venda" required>
            <label for="produtoPreco">Valor de Venda</label>
          </div>

          <!-- Número do Lote -->
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="numeroLote" placeholder="Lote" name="numero_lote" required>
            <label for="numeroLote">Lote</label>
          </div>

          <!-- Quantidade -->
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="quantidade" placeholder="Quantidade" min="1" name="quantidade"
              required>
            <label for="quantidade">Quantidade</label>
          </div>

          <!-- Data de Validade -->
          <div class="form-floating mb-3">
            <input type="month" class="form-control" id="dataValidade" placeholder="Validade" name="data_validade"
              required>
            <label for="dataValidade">Validade</label>
          </div>

          <!-- Localização -->
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="localizacao" placeholder="Localização" name="localizacao">
            <label for="localizacao">Localização</label>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancelar
            </button>
            <button type="submit" id="btnSalvarEntradaModal" class="btn btn-primary">
              Salvar Entrada
            </button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>