<%- include('../partials/header.ejs') %>

    <body>
        <div class="container">
            <h2>Solicitação enviada com sucesso!</h2>
            <p>Se o e-mail informado estiver cadastrado, você receberá instruções para redefinir sua senha.</p>
            <p>Você será redirecionado automaticamente para a página de login em alguns segundos...</p>
            <a href="/login" class="button">Voltar para o login agora</a>
        </div>

        <%- include('../partials/footer.ejs') %>

            <script>
                setTimeout(() => {
                    window.location.href = '/login';
                }, 5000); // 5 seconds
            </script>

    </body>

    </html>