<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <body>
            <main class="main-content">
                <div class="container">
                    <hr>
                    <div class="card">
                        <div class="card-header">
                            <h2>Cadastro de Fornecedor</h2>
                        </div>
                        <div class="card-body">
                            <form id="fornecedor-form">
                                <input class="form-control" type="text" name="nome_fornecedor"
                                    id="fornecedor-name-input" placeholder="Defina o nome do fornecedor" required><br>
                                <button class="btn btn-success" id="submit-button" disabled>Cadastrar</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="error-popup-container"></div>
            </main>

            <%- include('../../partials/footer.ejs') %>

                <script type="module">

                    import { showErrorPopup } from '/js/show-error-popup.js'

                    document.addEventListener('DOMContentLoaded', function () {
                        const input = document.getElementById('fornecedor-name-input');
                        const button = document.getElementById('submit-button');
                        const form = document.getElementById('fornecedor-form');

                        input.addEventListener('input', function () {
                            if (this.value.trim().length > 0) {
                                button.removeAttribute('disabled');
                            } else {
                                button.setAttribute('disabled', 'disabled');
                            }
                        });

                        form.addEventListener('submit', async function (event) {
                            event.preventDefault();

                            const fornecedorName = input.value;

                            try {
                                const response = await fetch('/admin/fornecedores/save', {
                                    method: 'POST',
                                    headers: { 'Content-Type': 'application/json' },
                                    body: JSON.stringify({ nome_fornecedor: fornecedorName }),
                                });

                                if (response.ok) {
                                    window.location.href = '/admin/fornecedores';
                                } else {
                                    const errorData = await response.json();
                                    showErrorPopup(errorData.error.message, errorData.error.details);
                                }
                            } catch (error) {
                                console.error('Erro de rede:', error);
                                showErrorPopup('Ocorreu um erro de rede. Tente novamente mais tarde');
                            }
                        });
                    });

                </script>
        </body>

        </html>